<html>
    <head>
        <link rel="stylesheet" href="static/style.css"></link>
        <title>Palindrome</title>
    </head>

    <body>
        <form method="POST" action="palindrome">
            <h1>  Check for Palindrome</h1>
            <table>
                <tr>
                    <td><b><i>Enter String:</i></b></td>
                    <td>
                        <input type="text" required name="palin">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="reset">
                    </td>
                    <td>
                        <input type="submit" value="Check Palindrome">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>